.about {
  /* изменить   */
  background-color: #22252c;
  display: flex;
  align-items: center;
  justify-content: center;

  .about__inner {
    display: flex;
    flex-wrap: wrap-reverse;
    /* align-items: center; */
    justify-content: center;
  }

  .about__content {
    display: flex;
    flex-direction: column;
    padding: 0 auto;
    margin-top: 50px;
    max-width: 900px;
    /* width: 70%; */
    /* flex-basis: 40%; */
  }
  .about__my-foto {
    width: 30%;
    padding: 50px;

    /*       flex-direction: column;
  position: relative; */
  }

  // .about__border-img {
  //   border: 7px solid $primary-color;
  //   position: relative;
  //   width: 386px;
  //   height: 387px;
  //   margin-bottom: 50px;
  // }

  .about__block-abs {
    /* width: 383px; */
    width: 100%;
    overflow: hidden;
    /* position: absolute; */
    background-color: #141820;
    /* -webkit-box-shadow: 0 0 8px #e45252; */
    box-shadow: 0 0 8px #e45252;
    /*   top: 40px;
left: -40px; */
  }
  img {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .about__title {
    color: $primary-color;

    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .about__text p {
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    // width: 90%;
    letter-spacing: 0.56px;
    margin-top: 40px;
    margin-bottom: 30px;
  }
}
.about__btn {
  margin: 30 auto;
  //   background-color: $primary-color;
}

@media (max-width: 1400px) {
  .about .about__my-foto {
    width: 50%;
    /* padding: 30px; */
  }
  .about .about__content {
    width: 50%;
  }
}

@media (max-width: 910px) {
  .about .about__my-foto {
    width: 100%;
    padding: 30px;
  }
  .about .about__content {
    width: 100%;
    padding: 30px;
  }
}
@media (max-width: 500px) {
  .about .about__my-foto {
    /* width: 100%; */
    padding: 10px;
  }
  .about .about__content {
    /* width: 100%; */
    padding: 10px;
  }
}
