.about {
  /* изменить   */
  background-color: #22252c;
  display: flex;
  align-items: center;
  justify-content: center;

  .about__content {
    padding: 0 auto;
    // display: flex;
    // flex-direction: column;
  }
  .about__inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about__my-foto {
    flex-basis: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    justify-content: center;

    align-items: center;
    margin-right: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;

    flex-direction: column;
    position: relative;
  }

  .about__border-img {
    border: 7px solid $primary-color;
    position: relative;
    width: 386px;
    height: 387px;
  }

  .about__block-abs {
    position: absolute;
    background-color: #141820;

    box-shadow: 0 0 8px $primary-color;
    top: 40px;
    left: -40px;
  }
  img {
    height: 383px;
    width: 383px;
  }

  .about-me_info {
    flex-basis: 50%;
    color: #fff;
  }
  .about__title {
    // background: -o-linear-gradient(45deg, #00d7bb, #00f298);
    // background: linear-gradient(45deg, #00d7bb, #00f298);
    // -webkit-background-clip: text;
    color: $primary-color;
    // -webkit-text-fill-color: transparent;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .about__text p {
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    width: 90%;
    letter-spacing: 0.56px;
    margin-top: 40px;
    margin-bottom: 30px;
  }
}
.about__btn {
  margin: 30 auto;
  //   background-color: $primary-color;
}
