.intro {
  background-image: url("../img/n/laptop (11).jpg");
  opacity: 0.8;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  &.showNav {
    padding-top: 220px;
  }

  &__inner {
    position: relative;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  &__title {
    margin: 0 0 30px;

    font-family: "Open Sans", sans-serif;
    font-size: 65px;
    line-height: 1.1;
    font-weight: 700;
    text-transform: uppercase;
    opacity: 1;
    z-index: 10;
  }
  &__subtitle {
    margin-bottom: 60px;
    font-size: 40px;
    line-height: 1.5;
    font-weight: 400;
  }
}
