.works {
  display: flex;
  flex-wrap: wrap;
  &__item {
    width: 25%;
    height: 350px;
    border-bottom: 1px solid $white;
    border-right: 1px solid $white;
    position: relative;
    overflow: hidden;
    &:hover .works__content {
      opacity: 1;
    }
  }
  &__photo {
    min-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, -50%, 0);
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(232, 69, 69, 0.9);
    opacity: 0;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transition: opacity 0.2s linear;
  }
  &__title {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 700;
    color: $white;
    text-transform: uppercase;
  }
  &__text {
    font-size: 14px;
    color: $white;
  }
}
