body {
  margin: 0;

  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: $colorFont;

  /* средняя степень сглаживания шрифтов  */
  -webkit-font-smoothing: antialiased;

  background-color: $white;
}
