$white: #ffffff;
$light-gray: #e8e9eb;
$gray: #a7a7a7;
$dark-gray: #606060;
$accent: #03afc2;
$bgColor: #46c3d1;
/*$bgColor: #46c3d1;*/
$dark-blue: #223843;
$black: #2b2a2c;
$colorFont: #6c7279;

$primary-color-dark: #0097a7;
$primary-color: #e45252;
$primary-color-light: #b2ebf2;
$primary-color-text: #ffffff;
$accent-color: #03a9f4;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;

$primary-color-feedBackForm: #00b0f0;
